/.DS_Store
/Lec1.pptx
/Lec2.pptx
/Lec3.pptx
/RussianNovels-master
/bpe.dill
/clean_data.csv
/gpt_1.docx
/gpt_model.pth
/lab_1
/sentiment_analysis_dataset.csv
/socialmedia_relevant_cols.csv
/stores.csv
/test
/test.ipynb
/test_tweets_anuFYb8.csv
/train_E6oV3lV.csv
/ФМИ_NLP.ipynb
/ФМИ_Twitter_Sentiment_Analysis_word2vec — копия.ipynb
/ФМИ_preprocessing_NLP.ipynb